
*,
*::after,
*::before {
    box-sizing: inherit;
}

header {
    background-color: #ffffff;
    border-bottom: 1px solid #ECECEC;
    border-left: 1px solid #ECECEC;
    border-right: 1px solid #ECECEC;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Roboto;
    margin: 0 auto;
}

address {
    font-style: normal;
    margin-top: 20px;
}

ul, ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}


/* menu */

.container {
    width: 1200px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.sky {
    display: flex;
    align-items: center;
}

.hat {
    display: flex;
    align-items: center;
}

.logo {
    text-decoration: none;
    font-weight: 700;
    font-family: raleway;
    font-size: 26px;
    line-height: 1.17;
    color:#2196F3;
}

.logo-II {
    color: #ffffff;
    font-family: roboto;
}

.logo-III {
    font-family: roboto;
    color: #212121;
}

.headmenu {
    display: flex;
    margin-left: 93px;
    gap: 50px;
}

.submenu-link {
    display: inline-block;
    padding-top: 32px;
    padding-bottom: 32px;
}

.menu-link {
    color: #212121;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    display: block;
}

.menu-link-p {
    color: #2196F3;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    display: block;
}

.cap {
    gap: 50px;
    display: flex;
    margin-left: auto;
}

.contacts {
    display: flex;
    align-items: center;
    color: #757575;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    text-decoration: none;
}

.contact-icon {
    fill: #757575;
    margin-right: 10px;
}

/* main */

.section-hero {
    background-color: #2F303A;
    padding: 200px 0;
    text-align: center;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bgs.ph.jpg);
    max-width: 1600px;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.section-benefits {
    display: flex;
    padding-bottom: 0;
}

.section-work {
    display: flex;
    padding-top: 0;
}

.section-team {
    background-color: #F5F4FA;
}

.section-client {}

.sections {
    padding-top: 94px;
    padding-bottom: 94px;
}

.title {
    color: white;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.3;
    letter-spacing: 0.06em;
    text-align: center;
    text-transform: uppercase;
    max-width: 696px;
    margin-left: auto;
    margin-right: auto;
}

.button {
    margin-top: 30px;
    left: 50%;
    padding: 10px 32px;
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    border: 0;
    letter-spacing: 0.06em;
    color: white;
    background-color: #2196F3;
    cursor: pointer;
}


.subtitle {
    position: absolute; 
    width: 1px; 
    height: 1px; 
    margin: -1px; 
    padding: 0; 
    overflow: hidden; 
    border: 0; 
    clip: rect(0 0 0 0);
}

.work {
    font-weight: 700; 
    font-size: 36px; 
    line-height: 1.17;
    letter-spacing: 0.03em;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.doop {
    font-weight: 700; 
    font-size: 36px; 
    line-height: 1.17;
    letter-spacing: 0.03em;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.clients {
    font-weight: 700; 
    font-size: 36px; 
    line-height: 1.17;
    letter-spacing: 0.03em;
    display: flex;
    justify-content: center;
}

.clients-list {
    display: flex;
    margin-top: 50px;
    justify-content: center;
    gap: 30px;
}

.clients-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.clients-item .clients-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 92px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
}

.clients-list .clients-icon {
    fill: #AFB1B8;
}

.clients-item .clients-link:hover,
.clients-item .clients-link:focus {
    border: 1px solid #2196F3;
    color: #2196F3;
}

.clients-item .clients-icon {
    fill: currentColor;
}

.clients-item .clients-link {
    color: #AFB1B8;
}

.icon-explanation {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    width: 270px;
    height: 120px;
    background-color: #F5F4FA;
}

.advantage {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    align-items: center;
    margin-bottom: 10px;
}

.advantage-link {
    color: #757575;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    width: 270px;
    height: 75px;
    align-items: center;
}

.subadvantage {
    display: flex;
    gap: 30px;
}

.name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: center;
    margin-top: 20px;
}

.info {
    color: #757575;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 30px;
}

.team-box .team-list {
    display: flex;
    margin-bottom: 30px;
    gap: 10px;
    justify-content: center;
}

.team-box .team-link {
    width: 44px;
    padding: 12px;
    height: 44px;
    border-radius: 50%;
    background-position: center;
    cursor: pointer;
    color: #AFB1B8;
}

.team-box .team-icon {
    width: 20px;
    height: 20px;
    fill: #AFB1B8;
}

.team-link:hover {
    background-color: #2196F3;
}

.container-dsp {
    display: flex;
}

.flat-link {
    list-style: none;
    display: flex;
    gap: 30px;
    position: relative;
    margin-bottom: 94px;
}

.signature-block {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: rgba(47, 48, 58, 0.8);;
    bottom: 0;
    width: 370px;
    height: 70px;
}

.signature {
    font-weight: 700;
    font-size: 14px;
    width: 205px;
    height: 16px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #ffffff;
}


.foot-flat-link {
    list-style: none;
    display: flex;
    gap: 30px;
}

.foot-flat {
    background-color: #ffffff;
    width: 270px;
    left: 815px;
    top: 1635px;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.bottom {
    background-color: #2F303A;
    padding-top: 60px;
    padding-bottom: 60px;
}

.city {
    color: #ffffff;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.17;
    letter-spacing: 0.02em;
}

.foot-contacts {
    font-weight: 400px;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #757575;
}

.foot-contacts-p {
    font-weight: 400px;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #757575;
}

.foot-link-con-l {
    margin-bottom: 9px;
}

.foot-link-con-ll {
    margin-bottom: 9px;
}

.join {
    color: #ffffff;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
}

.icon-footer {
    margin-left: 70px;
}


.icon-footer .foot-icon-link {
    width: 44px;
    background-color: rgba(255, 255, 255, 0.1);
    height: 44px;
    padding: 12px;
    background-position: center;
    border-radius: 50%;
    cursor: pointer;
    color: #ffffff;
}

.foot-icon-link:hover {
    background-color:#2196F3;
}

.foot-icon {
    width: 20px;
    height: 20px;
    fill: #FFFFFF;
}

.icon-footer-ul {
    display: flex;
    gap: 10px;
    margin-top: 32px;
}

/* other */

.contacts:hover .contact-icon,
.contacts:focus .contact-icon {
    fill: #2196F3;
}

.contacts:hover {
    color: #2196F3;
}

.foot-contacts:hover {
    color: #2196F3;
}

.foot-contacts-p:hover {
    color: #2196F3;
}

.city:hover {
    color: #2196F3;
}

.menu-link:hover {
    color: #2196F3;
}

.menu-link-p:hover {
    color: #2196F3;
}

.button:active {
    background-color: royalblue;
}


/* portfolio */

.port-sec {
    text-align: center;
}

.port-ul {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 50px;
    gap: 8px;
}

.img-link {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.hover-box {
    position: relative;
    overflow: hidden;
}

.img-link:hover .subhover-box {
    display: block;
}

.img-link:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.subhover-box {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 370px;
    height: 294px;
    top: 0;
    left: 0;
    background-color: rgba(33, 150, 243, 0.9);
    transition: transform 250ms;
    transform: translateY(100%);
}

.hover-paragraf {
    color: #ffffff;
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: 0,03em;
    padding: 63px 24px;
}

.way {
    color: #212121;
    font-family: Roboto;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    letter-spacing: 0.03em;
    padding: 6px 22px;
    background-color: #F5F4FA;
    border: 1px solid transparent;
    border-radius: 4px;
    cursor: pointer;
}

.way-p {
    color: #FFFFFF;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    letter-spacing: 0.03em;
    padding: 6px 22px;
    background-color: #2196F3;
    border: 1px solid transparent;
    border-radius: 4px;
    cursor: pointer;
}

.rearward {
    font-weight: 700px;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: #212121;
}

.description {
    color: #757575;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.8;
    letter-spacing: 0.03em;
    color: #757575;
}

.port-galery { 
    display: flex;
    flex-wrap: wrap; 
    gap: 30px;
}


.port-galery-div {
   border-left: 1px solid #EEEEEE;
   border-bottom: 1px solid #EEEEEE;
   border-right: 1px solid #EEEEEE;
   display: block;
   padding-top: 20px;
   padding-left: 24px;
   padding-bottom: 20px;
}

/* pr.other */

.hide {
    position: absolute; 
    width: 1px; 
    height: 1px; 
    margin: -1px; 
    padding: 0; 
    overflow: hidden; 
    border: 0; 
    clip: rect(0 0 0 0);
}

.way:hover {
    background-color: #2196F3;
}

.way:active {
    background-color: #0062b2;
}

.way:hover {
    color: #ffffff;
}


/* modal */

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    transform: scale(1);
    transition: opacity 0.5s, visibility 0.5s;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 528px;
    min-height: 581px;
    background-color: #ffffff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

.modal-button {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 20px;
    height: 30px;
    background: transparent;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
}

.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}
 



