.header {
    width: #1600px;
    height: #80px;
}

.studio {
    width: 500;
    size: 14px;
    line-height: 1.17;
    letter-spacing: 2%;
}

.menu {
    width: 500;
    size: 14px;
    line-height: 1.17;
    letter-spacing: 2%;
}
