
*,
*::after,
*::before {
    box-sizing: inherit;
}

header {
    background-color: #ffffff;
    border-bottom: 1px solid #ECECEC;
    border-left: 1px solid #ECECEC;
    border-right: 1px solid #ECECEC;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Roboto;
    margin: 0 auto;
}

address {
    font-style: normal;
}

ul, ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}


/* menu */

.container {
    width: 1200px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.sky {
    display: flex;
    align-items: center;
    margin-top: 32px;
    margin-bottom: 32px;
}

.hat {
    display: flex;
    align-items: center;
}

.logo {
    text-decoration: none;
    font-weight: 700;
    font-family: raleway;
    font-size: 26px;
    line-height: 1.17;
    color:#2196F3;
}

.logo-II {
    color: #ffffff;
    font-family: roboto;
}

.logo-III {
    font-family: roboto;
    color: #212121;
}

.headmenu {
    display: flex;
    margin-left: 93px;
}

.submenu-link {
    display: inline-block;
}

.menu-link {
    color: #212121;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    padding-top: 32px;
    padding-bottom: 32px;
    margin-left: 50px;
}

.menu-link-p {
    color: #2196F3;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    padding-top: 32px;
    padding-bottom: 32px;
    margin-left: 50px;
}

.cap {
    gap: 50px;
    display: flex;
    margin-left: auto;
}

.contacts {
    color: #757575;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.17;
    letter-spacing: 0.02em;
}

.contact-icon {
    fill: #757575;
    margin-right: 10px;
}

/* main */

.section-I {
    background-color: #2F303A;
    padding: 200px 0;
    text-align: center;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bgs.ph.jpg);
    max-width: 1600px;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.section-II {
    display: flex;
}

.section-III {
    display: flex;
    padding-top: 0;
}

.section-IIII {
    background-color: #F5F4FA;
}

.sections {
    padding-top: 94px;
    padding-bottom: 94px;
    background-size: cover
}

.title {
    color: white;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.3;
    letter-spacing: 0.06em;
    text-align: center;
    text-transform: uppercase;
    max-width: 696px;
    margin-left: auto;
    margin-right: auto;
}

.button {
    margin-top: 30px;
    left: 50%;
    padding: 10px 32px;
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    border: 0;
    letter-spacing: 0.06em;
    color: white;
    background-color: #2196F3;
    cursor: pointer;
}


.subtitle {
    position: absolute; 
    width: 1px; 
    height: 1px; 
    margin: -1px; 
    padding: 0; 
    overflow: hidden; 
    border: 0; 
    clip: rect(0 0 0 0);
}

.work {
    font-weight: 700; 
    font-size: 36px; 
    line-height: 1.17;
    letter-spacing: 0.03em;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.doop {
    font-weight: 700; 
    font-size: 36px; 
    line-height: 1.17;
    letter-spacing: 0.03em;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.clients {
    font-weight: 700; 
    font-size: 36px; 
    line-height: 1.17;
    letter-spacing: 0.03em;
    display: flex;
    justify-content: center;
}

.advantage {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    align-items: center;
    margin-bottom: 10px;
}

.advantage-link {
    color: #757575;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    width: 270px;
    height: 75px;
    align-items: center;
}

.subadvantage {
    display: flex;
    gap: 30px;
}

.name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: center;
    margin-top: 20px;
}

.info {
    color: #757575;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 30px;
}

.flat-link {
    list-style: none;
    display: flex;
    gap: 30px;
}


.foot-flat-link {
    list-style: none;
    display: flex;
    gap: 30px;
}

.foot-flat {
    background-color: #ffffff;
    width: 270px;
    left: 815px;
    top: 1635px;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.bottom {
    background-color: #2F303A;
    padding-top: 60px;
    padding-bottom: 60px;
}

.city {
    color: #ffffff;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.17;
    letter-spacing: 0.02em;
}

.foot-contacts {
    font-weight: 400px;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #757575;
}

.foot-contacts-p {
    font-weight: 400px;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #757575;
}

.foot-link-con-l {
    margin-bottom: 9px;
    padding-top: 20px;
}

.foot-link-con-ll {
    margin-bottom: 9px;
}

/* other */

.contacts:hover {
    color: #2196F3;
}

.foot-contacts:hover {
    color: #2196F3;
}

.foot-contacts-p:hover {
    color: #2196F3;
}

.city:hover {
    color: #2196F3;
}

.menu-link:hover {
    color: #2196F3;
}

.menu-link-p:hover {
    color: #2196F3;
}

.button:active {
    background-color: royalblue;
}


/* portfolio */

.port-sec {
    text-align: center;
}

.port-ul {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 50px;
    gap: 8px;
}

.way {
    color: #212121;
    font-family: Roboto;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    letter-spacing: 0.03em;
    padding: 6px 22px;
    background-color: #F5F4FA;
    border: 1px solid transparent;
    border-radius: 4px;
    cursor: pointer;
}

.way-p {
    color: #FFFFFF;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    letter-spacing: 0.03em;
    padding: 6px 22px;
    background-color: #2196F3;
    border: 1px solid transparent;
    border-radius: 4px;
    cursor: pointer;
}

.rearward {
    font-weight: 700px;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    margin-top: 20px;
    margin-left: 24px;
}

.description {
    color: #757575;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.8;
    letter-spacing: 0.03em;
    margin-top: 4px;
    margin-left: 24px;
}

.port-galery {
    display: flex;
    flex-wrap: wrap; 
    gap: 30px;
}


.port-galery-div {
   border-left: 1px solid #EEEEEE;
   border-bottom: 1px solid #EEEEEE;
   border-right: 1px solid #EEEEEE;
   display: block;
}

/* pr.other */

.hide {
    position: absolute; 
    width: 1px; 
    height: 1px; 
    margin: -1px; 
    padding: 0; 
    overflow: hidden; 
    border: 0; 
    clip: rect(0 0 0 0);
}

.way:hover {
    background-color: #2196F3;
}

.way:active {
    background-color: #0062b2;
}

.way:hover {
    color: #ffffff;
}
 



